<h1>Burgers!</h1>

<h2>Burgers that are not devoured!</h2>

<ul>
  {{#each burgers}}
    {{#unless this.devoured}}
      <li>
        {{this.burger_name}}

        <form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="true">
          <button type="submit" class="btn-success">NOM TIME!</button>
        </form>

      </li>
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that have been devoured!</h2>

<ul>
  {{#each burgers}}
    {{#if this.devoured}}
      <li>
        {{this.burger_name}}

        <form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="false">
          <button type="submit" class="btn-danger">Changed my mind!</button>
        </form>


      </li>
    {{/if}}
  {{/each}}
</ul>

<div id ="createUpdate">
<h2>Add Your Next Burger</h2>
<form class="create-update-form" action="/" method="POST">

  <div class="form-group">
    <label for="burger">Burger Name:</label>
    <input type="text" id="burger_name" name="burger_name">
  </div>

  <div class="form-group">
    <label for="hungry">Hungry?</label><br>
    <input type="radio" name="devoured" value="1" checked> Devoured!<br>
    <input type="radio" name="notDevoured" value="0"> You can eat this one!
  </div>

  <button type="submit" class ="btn-primary">Add a Burger</button>
</form>
</div>