/*
@import url('https://fonts.googleapis.com/css?family=Lobster');
*/

body{

	background-color: yellow;
	background-image: url('wallpaper.png');
	font-family: 'Lobster';
	font-size: 22px;
}

/*html {
  background-image: url('wallpaper.png');
}*/

h1{

	color: purple;
	font-family: 'Lobster', cursive;

}

p{

	font-family: 'Lobster', cursive;

}

li{
	
	border: black 5px solid;

}
#createUpdate{
	border: red 5px solid;
	 text-align: center;


}

#burgersEaten{

	border: yellow 5px solid;
	 text-align: center;
	 background-color: red;
	/*opacity: .5;*/
}


#burgersToEat{
	border: blue 5px solid;
	 text-align: center;
	 background-color: green;

}
#titleDiv{

	margin: auto;
    width: 50%;
    border: 5px solid green;
    padding: 10px;
	/*font-family: 'Pacifico', cursive;*/
	font-family: 'Lobster', cursive;
	 text-align: center;

}